<div class="clear">
<h1>
  <%=h @post.title %>
</h1>

  <%= simple_format @post.body %>
</div>
<div class="clear">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Weiter', posts_path %>
</div>